# THE .gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/



# PLUS what else should not be on npm

.github/
demo_assets/
img/
*.png
*.ico
*.gif
*.svg
index.html
security.md
browserconfig.xml
manifest.json
