# THE .gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/



# PLUS what else should not be on npm

/.github
/demo
/assets
/src
*.png
*.ico
*.gif
*.svg
*.ics
index.html
Gruntfile.js
security.md
package-lock.json
browserconfig.xml
manifest.json
CNAME
set-release.js
sitemap.xml
.prettierignore
.prettierrc.json
.stylelintrc.json
.gitattributes
*.min.js
*.map
.eslintrc.json