@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* paytone-one-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Paytone One';
    font-style: normal;
    font-weight: 400;
    src: local('Paytone One'),
        url('./assets/fonts/paytone-one-v18-latin-regular.woff2') format('woff2'),
        url('./assets/fonts/paytone-one-v18-latin-regular.woff') format('woff'),
        url('./assets/fonts/paytone-one-v18-latin-regular.ttf') format('truetype');
  }

  /* inter-300 - latin */
  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    src: local('Inter Light'),
        url('./assets/fonts/inter-v12-latin-300.woff2') format('woff2'),
        url('./assets/fonts/inter-v12-latin-300.woff') format('woff'),
        url('./assets/fonts/inter-v12-latin-300.ttf') format('truetype');
  }

  /* inter-regular - latin */
  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: local('Inter'),
        url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'),
        url('./assets/fonts/inter-v12-latin-regular.woff') format('woff'),
        url('./assets/fonts/inter-v12-latin-regular.ttf') format('truetype');
  }

  /* inter-600 - latin */
  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    src: local('Inter SemiBold'),
        url('./assets/fonts/inter-v12-latin-600.woff2') format('woff2'),
        url('./assets/fonts/inter-v12-latin-600.woff') format('woff'),
        url('./assets/fonts/inter-v12-latin-600.ttf') format('truetype');
  }

  /* inter-800 - latin */
  @font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    src: local('Inter ExtraBold'),
        url('./assets/fonts/inter-v12-latin-800.woff2') format('woff2'),
        url('./assets/fonts/inter-v12-latin-800.woff') format('woff'),
        url('./assets/fonts/inter-v12-latin-800.ttf') format('truetype');
  }

  /* fira-mono-regular - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Mono'),
        url('./assets/fonts/fira-mono-v14-latin-regular.woff2') format('woff2'),
        url('./assets/fonts/fira-mono-v14-latin-regular.woff') format('woff'),
        url('./assets/fonts/fira-mono-v14-latin-regular.ttf') format('truetype');
  }

  /* fira-mono-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/fira-mono-v14-latin-700.woff2') format('woff2'),
        url('./assets/fonts/fira-mono-v14-latin-700.woff') format('woff'),
        url('./assets/fonts/fira-mono-v14-latin-700.ttf') format('truetype');
  }

  /* selection color */
  ::selection {
    @apply bg-primary text-white dark:bg-primary-light dark:text-black;
  }

  /* base style */
  body {
    @apply bg-background text-text dark:bg-background-dark dark:text-text-dark transition-colors;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
  }

  h1 {
    font-family: 'Paytone One', Arial, sans-serif;
    font-size: 2em;
    line-height: 1.3em;
  }

  h2 {
    font-family: 'Paytone One', Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
  }

  h3 {
    @apply text-left md:text-center;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 1.2em;
  }

  a {
    font-weight: bold;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    background: none;
    font-family: 'Fira Mono', Consolas, Courier, monospace;
  }

}

.codeblock {
  @apply bg-gray-100 border-gray-300 dark:bg-zinc-900 dark:border-zinc-800 transition-colors border rounded-md;
}
