/*!
 * @preserve
 *
 * ++++++++++++++++++++++++++++++++++++++++
 * Add to Calendar Button - Demo Page Style
 * ++++++++++++++++++++++++++++++++++++++++
 *
 * Creator: Jens Kuerschner (https://jenskuerschner.de)
 * Project: https://github.com/add2cal/add-to-calendar-button
 * License: Elastic License 2.0 (ELv2)
 * Note:    DO NOT REMOVE THE COPYRIGHT NOTICE ABOVE!
 * 
 */

/******************************
* Global colors and shadows
*/

:root {
  --primary-color: #9755ff;
  --primary-color-light: #cbaaff;
  --primary-color-dark: #7644c6;
  --secondary-color: #ffa255;
  --secondary-color-light: #ffd0aa;
  --page-background: #f1eff8;
  --text: #333;
  --text-secondary: #969696;
  --text-subline: #fff;
  --github: #333;
  --hr: #cfcfcf;
  --light-mode-switch: #282232;
  --light-mode-switch-header: #f1e8fe;
  --example-background: #f5f5f5;
  --example-color: #6a6a6a;
  --example-border: #ababab;
  --code-comment: #708090;
  --code-punctuation: #999;
  --code-tag: #905;
  --code-selector: rgb(83 117 16);
  --code-operator: #9a6e3a;
  --code-keyword: #07a;
  --code-function: #ae3c53;
  --code-regex: #e90;
  --header-shadow: 0 6px 7px -6px rgb(0 0 0 / 10%), 0 12px 10px -6px rgb(0 0 0 / 12%), 0 31px 40px -6px rgb(0 0 0 / 20%);
  --header-bg: linear-gradient(45deg, var(--primary-color), var(--primary-color), var(--primary-color-light), var(--primary-color-light));
}

/* Dark mode */

html.atcb-dark {
  --page-background: #1b1d21;
  --text: #e6e2ed;
  --github: #222;
  --hr: #5e5c61;
  --light-mode-switch: #f5f5f5;
  --example-background: #2D2D2D;
  --example-color: #cacaca;
  --example-border: #797979;
  --code-comment: #999;
  --code-punctuation: #ccc;
  --code-tag: #e2777a;
  --code-selector: #cc99cd;
  --code-operator: #67cdcc;
  --code-keyword: #99a2cd;
  --code-function: #f08d49;
  --code-regex: #7ec699;
  --header-shadow: 0 6px 7px -6px rgb(0 0 0 / 15%), 0 12px 20px -6px rgb(0 0 0 / 18%), 0 31px 70px -6px rgb(0 0 0 / 34%);
  --header-bg: linear-gradient(45deg, var(--primary-color-dark), var(--primary-color-dark), var(--primary-color), var(--primary-color-light));
}

/******************************
 * Fonts
 */

/* paytone-one-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: local('Paytone One'),
       url('https://add-to-calendar-button.com/demo_assets/fonts/paytone-one-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/paytone-one-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/paytone-one-v18-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* inter-300 - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: local('Inter Light'),
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-300.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: local('Inter'),
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: local('Inter SemiBold'),
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-600.woff') format('woff'), /* Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-600.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* inter-800 - latin */
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: local('Inter ExtraBold'),
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/inter-v12-latin-800.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* fira-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono'),
       url('https://add-to-calendar-button.com/demo_assets/fonts/fira-mono-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/fira-mono-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/fira-mono-v14-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* fira-mono-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 700;
  src: url('https://add-to-calendar-button.com/demo_assets/fonts/fira-mono-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/fira-mono-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('https://add-to-calendar-button.com/demo_assets/fonts/fira-mono-v14-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}

/******************************
 * Basics
 */

::selection {
  background: var(--primary-color);
  color: #fff;
}

body {
  background: var(--page-background);
  box-sizing: border-box;
  color: var(--text);
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.5rem;
  margin: 0;
  padding: 0 0 100px;
  text-align: center;
  width: 100%;
}

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  padding: 0 25px;
  width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--hr);
  height: 1px;
  margin: 80px auto;
}

/******************************
 * Text and links
 */

h1 {
  font-family: "Paytone One", Arial, sans-serif;
  font-size: 2em;
  line-height: 1.2em;
}

h2 {
  color: var(--text-subline);
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1.5em;
  max-width: 650px;
  margin: auto;
  opacity: .8;
  width: 100%;
}

h3 {
  font-weight: 800;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  h3 {
    text-align:center;
  }
}

.description {
  text-align: left;
  padding-bottom: 40px;
}

a,
a:focus,
a:active {
  color: var(--primary-color);
  font-weight: 800;
  text-decoration: none;
}

a:not(.github) {
  text-decoration: underline;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

html.atcb-dark a,
html.atcb-dark a:focus,
html.atcb-dark a:active {
  color: var(--primary-color);
}

html.atcb-dark a:hover {
  color: var(--primary-color-light);
}

#tiny-version {
  color: var(--text-secondary);
  font-size: 0.9em;
  margin-top: 30px;
}

#legal {
  color: var(--text-secondary);
  font-size: 0.8em;
}

#legal a {
  color: var(--text-secondary);
}

/******************************
 * Logos
 */

a.github,
a.github:focus,
a.github:active {
  background: #f5f5f5;
  border-radius: 71% 29% 70% 30% / 50% 66% 34% 50%;
  box-shadow: 0.5px 0.2px 3.4px -14px rgb(0 0 0 / 10%), 1px 0.4px 9.5px -14px rgb(0 0 0 / 14%), 1.8px 0.7px 22.9px -14px rgb(0 0 0 / 18%), 5px 2px 76px -14px rgb(0 0 0 / 27%);
  color: var(--github);
  display: inline-block;
  padding: 20px 25px;
  user-select: none;
}

a.github:hover {
  background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-light));
  border-radius: 67% 33% 66% 33% / 45% 70% 30% 56%;
  box-shadow: 0.5px 0.2px 6.2px -4px rgb(0 0 0 / 13%), 1px 0.4px 17.2px -4px rgb(0 0 0 / 18%), 1.8px 0.7px 41.3px -4px rgb(0 0 0 / 35%), 5px 2px 137px -4px rgb(0 0 0 / 36%);
  color: #fff;
  cursor: pointer;
}

html.atcb-dark a.github,
html.atcb-dark a.github:focus,
html.atcb-dark a.github:active {
  color: var(--github);
}

html.atcb-dark a.github:hover {
  color: #fff;
}

a.github svg {
  fill: var(--github);
}

a.github:hover svg {
  fill: #fff;
}

#logo svg {
  height: auto;
  width: 100%;
}

#header a.github svg {
  fill: var(--primary-color-dark);
}

#header a.github:hover svg {
  fill: #fff;
}

#header a.github,
#header a.github:focus,
#header a.github:active {
  color: var(--primary-color-dark);
}

#header a.github:hover {
  color: #fff;
}

#logo {
  display: block;
  width: 400px;
  padding: 30px 0;
}

@media (max-width: 991px) {
  #logo {
    width: 300px;
    padding: 0;
    margin: auto;
  }
}

/******************************
 * Light mode switch
 */

.light-mode-switch {
  background: transparent;
  cursor: pointer;
  border: 0;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 0;
  -webkit-tap-highlight-color: transparent;
}

#light-mode-switch-header {
  position: absolute;
  top: 0;
  right: 50px;
}

.light-mode-switch div {
  position: relative;
  width: 20px;
  height: 20px;
  transition: transform 0.45s ease;
  border-radius: 50%;
  background: var(--light-mode-switch);
}

html.atcb-dark .light-mode-switch div {
  transform: scale(0.5);
}

#light-mode-switch-header.light-mode-switch div {
  background: var(--light-mode-switch-header);
}

.light-mode-switch div::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background: inherit;
  z-index: -1;
  opacity: 0;
  transition: box-shadow 0.4s 0s ease;
}

.light-mode-switch div::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: -20%;
  left: 30%;
  border-radius: 50%;
  background: var(--page-background);
  transition: transform 0.45s ease;
}

html.atcb-dark .light-mode-switch div::before {
  opacity: 1;
  box-shadow: 0 -20px 0 0 var(--light-mode-switch), 0 20px 0 0 var(--light-mode-switch), -20px 0 0 0 var(--light-mode-switch),
    20px 0 0 0 var(--light-mode-switch), 15px 15px 0 0 var(--light-mode-switch), 15px -15px 0 0 var(--light-mode-switch),
    -15px 15px 0 0 var(--light-mode-switch), -15px -15px 0 0 var(--light-mode-switch);
}

html.atcb-dark .light-mode-switch div::after {
  opacity: 0;
  transition: background 0.45s ease;
  transform: translateX(50%) translateY(-50%);
}

#light-mode-switch-header div::after {
  background: var(--primary-color-light);
}

@media (max-width: 991px) {
  #light-mode-switch-header div::after {
    background: var(--primary-color);
  }
}

/******************************
 * Special elements and structure
 */

#header {
  background: var(--header-bg);
  box-shadow: var(--header-shadow);
  display: flex;
  justify-content: center;
  padding: 0 25px 50px;
  margin-bottom: 80px;
}

#header-left {
  text-align: left;
}

#header-right {
  margin: 80px;
}

.example {
  align-items: start;
  display: grid;
  gap: 20px;
  grid-template-columns: 280px auto;
  justify-items: center;
}

.example-right {
  background-color: var(--example-background);
  border: 1px solid var(--example-border);
  border-radius: 6px;
  font-size: 0.8em;
  text-align: left;
}

@media (max-width: 991px) {
  #header {
    background: linear-gradient(180deg, var(--primary-color), var(--primary-color), var(--primary-color-light));
    flex-direction: column;
  }

  #header-left {
    margin-top: 30px;
    text-align: center;
  }

  #header-right {
    margin: 80px 25px 30px;
  }

  .example {
    grid-template-columns: 1fr;
  }
}

/******************************
 * PrismJS 1.28.0
 * https://prismjs.com/download.html#themes=prism&languages=markup+clike+javascript
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--example-color);
  background: none;
  font-family: "Fira Mono", Consolas, sans-serif;
  font-size: 1em;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-all;
  word-wrap: normal;
  line-height: 1.5; 
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--example-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment);
}

.token.punctuation {
  color: var(--code-punctuation);
}

.token.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--code-tag);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--code-selector);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--code-operator);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--code-keyword);
}

.token.function,
.token.class-name {
  color: var(--code-function);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--code-regex);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

div.code-toolbar {
	position: relative;
}

div.code-toolbar > .toolbar {
	position: absolute;
	z-index: 10;
	top: 0;
	right: .4em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar:hover > .toolbar {
	opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
	opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
	display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
	background: none;
	border: 0;
	color: inherit;
  cursor: pointer;
	font: inherit;
	line-height: normal;
	overflow: visible;
	padding: 0;
	user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
	color: var(--example-background);
  font-weight: 800;
	font-size: 1em;
  line-height: 1em;
	padding: 8px 12px;
	background: var(--example-border);
	box-shadow: -2px 3px 6px 0 rgb(0 0 0 / 30%);
	border-radius: 6px;
}

div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
	color: inherit;
	text-decoration: none;
  opacity: .9;
}