/**
 * +++++++++++++++++++++++++++++++++++++++++
 * Add-to-Calendar Button - Demo Page Style
 * +++++++++++++++++++++++++++++++++++++++++
 *
 * Creator: Jens Kuerschner (https://jenskuerschner.de)
 * Project: https://github.com/add2cal/add-to-calendar-button
 * License: MIT with “Commons Clause” License Condition v1.0
 * 
 */

/******************************
* Global colors and shadows
*/

:root {
  --page-background: #f5f5f5;
  --text: #333;
  --text-secondary: #969696;
  --text-subline: #5a5a5a;
  --hr: #cfcfcf;
  --light-mode-switch: #0D1117;
  --example-background: #fff;
  --example-color: #969696;
  --example-border: #c1c1c1;
}

/* Dark mode */

body.atcb-dark {
  --page-background: #0D1117;
  --text: #e6e2ed;
  --text-subline: #969696;
  --hr: #5e5c61;
  --light-mode-switch: #f5f5f5;
  --example-background: #3d3d3d;
  --example-color: #bcbabe;
  --example-border: #797979;
}

/******************************
 * Basics
 */

 body {
  background: var(--page-background);
  box-sizing: border-box;
  color: var(--text);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  line-height: 1.5rem;
  margin: 0;
  padding: 100px 0;
  text-align: center;
  width: 100%;
}

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  padding: 0 25px;
  width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--hr);
  height: 1px;
  margin: 80px auto;
}

/******************************
 * Text and links
 */

h1 {
  font-size: 2em;
  line-height: 1.2em;
}

h1 #tiny-version {
  color: var(--text-secondary);
  font-size: 0.4em;
  font-weight: 400;
}

h2 {
  color: var(--text-subline);
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 35px auto;
  max-width: 600px;
  width: 100%;
}

h3 {
  text-align: left;
}

@media only screen and (max-width: 800px) {
  h3 {
    text-align:center;
  }
}

.description {
  text-align: left;
  padding-bottom: 40px;
}

a, a:focus, a:active {
  color: #7d3da7;
  text-decoration: none;
}

a:not(.clean) {
  text-decoration: underline;
}

a:hover {
  color: #7b5a92;
  text-decoration: none;
}

body.atcb-dark a,
body.atcb-dark a:focus,
body.atcb-dark a:active {
  color: #864fab;
}

body.atcb-dark a:hover {
  color: #816694;
  text-decoration: none;
}

a svg {
  fill: #6D0BAC;
}

a:hover svg {
  fill: #7b5a92;
}

body.atcb-dark a svg {
  fill: #864fab;
}

body.atcb-dark a:hover svg {
  fill: #816694;
}

#legal {
  color: var(--text-secondary);
  font-size: 0.8em;
}

#legal a {
  color: var(--text-secondary);
}

/******************************
 * Light mode switch
 */

#light-mode-switch {
  background: transparent;
  cursor: pointer;
  border: 0;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px 0;
  -webkit-tap-highlight-color: transparent;
}

#light-mode-switch div {
  position: relative;
  width: 20px;
  height: 20px;
  transition: transform 0.45s ease;
  border-radius: 50%;
  background: var(--light-mode-switch);
}

#light-mode-switch div::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background: inherit;
  z-index: -1;
  opacity: 0;
  transition: box-shadow 0.4s 0s ease;
}

#light-mode-switch div::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: -20%;
  left: 30%;
  border-radius: 50%;
  background: var(--page-background);
  transition: transform 0.45s ease;
}

body.atcb-dark #light-mode-switch div {
  transform: scale(0.5);
  background: var(--light-mode-switch);
}

body.atcb-dark #light-mode-switch div::before {
  opacity: 1;
  box-shadow: 0 -20px 0 0 var(--light-mode-switch), 0 20px 0 0 var(--light-mode-switch), -20px 0 0 0 var(--light-mode-switch),
    20px 0 0 0 var(--light-mode-switch), 15px 15px 0 0 var(--light-mode-switch), 15px -15px 0 0 var(--light-mode-switch),
    -15px 15px 0 0 var(--light-mode-switch), -15px -15px 0 0 var(--light-mode-switch);
}

body.atcb-dark #light-mode-switch div::after {
  opacity: 0;
  transition: background 0.45s ease;
  transform: translateX(50%) translateY(-50%);
}

/******************************
 * Special elements
 */

.github {
  margin-bottom:80px;
}

.example {
  align-items: start;
  display: grid;
  gap: 20px;
  grid-template-columns: 280px auto;
  justify-items: center;
}

@media only screen and (max-width: 800px) {
  .example {
    grid-template-columns: 1fr;
  }
}

.example-right {
  color: var(--example-color);
  background-color: var(--example-background);
  border: 1px solid var(--example-border);
  border-radius: 6px;
  font-family: Consolas, Arial, sans-serif;
  font-size: 0.8em;
  padding: 20px;
  text-align: left;
  word-break: break-all;
}

.example-right code {
  white-space: pre-wrap;
}
