/**
 * ++++++++++++++++++++++
 * Add-to-Calendar Button
 * ++++++++++++++++++++++
 * 
 * Version: 1.4.3
 * Creator: Jens Kuerschner (https://jenskuerschner.de)
 * Project: https://github.com/jekuer/add-to-calendar-button
 * License: MIT with “Commons Clause” License Condition v1.0
 * 
 */

.atcb {
  display: none;
}

.atcb_button_wrapper {
  display: inline-block;
  position: relative;
}

.atcb_button {
  background: rgb(245, 245, 245);
  border: 1px solid rgb(210, 210, 210);
  border-radius: 6px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,.4); 
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,.4);
  color: rgb(51, 51, 51);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 10px auto;
  max-width: 300px;
  min-width: 150px;
  padding: 10px 16px 11px 16px;
  position: relative;
  text-align: center;
  touch-action: manipulation;  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: auto;
}
@media only screen and (max-width: 575px) {
  .atcb_button {
    font-size: 14px;
  }
}

.atcb_button.active {
  background: rgb(255, 255, 255);
  border-radius: 6px 6px 3px 3px;
  -webkit-box-shadow: 1px 5px 15px 0px rgba(0,0,0,.5); 
  box-shadow: 1px 5px 15px 0px rgba(0,0,0,.5);
  margin: 7px auto 9px auto;
  padding: 12px 20px 13px 20px;  
  z-index: 90;
}

.atcb_icon {
  height: 16px;
  display: inline-flex;
  margin-bottom: 4px;
  margin-right: 10px;
  vertical-align: middle;
}
.atcb_icon svg {
  height: 100%;
  color: rgb(51, 51, 51);
  width: auto;
}

.atcb_list {
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: block;  
  margin: -10px auto 0 auto;
  max-width: 100%;
  position: absolute;
  padding: 0 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 80;
}

.atcb_list_item {
  background: rgb(250, 250, 250);
  border: 1px solid rgb(210, 210, 210);
  border-top: 0;
  -webkit-box-shadow: 1px 2px 8px 0px rgba(0,0,0,.3); 
  box-shadow: 1px 2px 8px 0px rgba(0,0,0,.3);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  left: 50%;
  position: relative;
  padding: 12px 18px;
  text-align: left;
  transform: translate(-50%);
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
.atcb_list_item:hover {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,.4); 
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,.4);
  color: rgb(0, 0, 0);
}
@media only screen and (max-width: 575px) {
  .atcb_list_item {
    font-size: 14px;
  }
}

.atcb_list_item:first-child {
  padding-top: 25px;
}

.atcb_list_item:last-child {
  border-radius: 0 0 6px 6px;
}


.atcb_list_item .atcb_icon {
  margin-right: 8px;
}

.atcb_bgoverlay {
  background: rgba(20,20,20,.2);
  backdrop-filter: blur(2px);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 70;
}
